@charset "UTF-8";
/*-------------------------*/
/* $Globel*/
/*-------------------------*/
.page .container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
}
.givePadding{
  padding: 80px 0px 0px 0px 
}
 

/*-------------------------*/
/* $清除浮動*/
/*-------------------------*/
.u-clearfix:before,
.u-clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table
}
.u-clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both
}

/*-------------------------*/
/* $ 錨點跳轉高度*/
/*-------------------------*/
[id^="section"]:target {
  padding-top: 130px;
  /* margin-top: -65px; */
}

/*-------------------------*/
/* $Form */
/*-------------------------*/
.form input[type="text"], .form input[type="tel"], .form input[type="email"] {
  -webkit-appearance: none;
  padding: 8px 16px;
  display: inline-block;
  border: 1px solid #f4f4f4;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-bottom: 16px;
  background-color: inherit;
  color: #353630;
}

.form textarea {
  -webkit-appearance: none;
  padding: 8px 16px;
  display: inline-block;
  border: 1px solid #43484c;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-bottom: 16px;
  background-color: inherit;
  color: #353630;
  resize: none;
}

.form input[type="text"]:focus, .form input[type="tel"]:focus, .form input[type="email"]:focus {
  outline: 0;
  border-width: 1;
  border: 1px solid #00356b;
}

.form textarea:focus {
  outline: 0;
  border-width: 1;
  border: 1px solid #00356b;
}

.form label {
  margin-bottom: 8px;
  display: inline-block;
  vertical-align: middle;
  color: #f4f4f4;
}

.form__btn-group {
  margin-top: 32px;
}



/*-------------------------*/
/* $Section */
/*-------------------------*/
section .mb-p, section .mb-p {
    margin-bottom: 0.75rem;
    display: block;
}
section .mb-p:last-child ,  section .mb-p:last-child {
    margin-bottom: 0px;
}

.img_center{
    margin: 0 auto;
    width: 100%;
}

.software-engineer_img-pc{
    display: block;
}
.software-engineer_img-Mobile{
    display: none;
}
@media (max-width: 767px){
    .software-engineer_img-pc{
        display: none;
    }
    .software-engineer_img-Mobile{
        display: block;
    }
}


/*-------------------------*/
/* $Section1 */
/*-------------------------*/
/* section1 */
#section1 li {
    font-size: 1.15rem;
}
#section1 ol {
    padding: 0 0 0 2rem;
}

/*-------------------------*/
/* $Section2 */
/*-------------------------*/
/* section2 */
#section2 table {
    width: 800px;
    text-align: center;
}

#table2-1 tr:nth-child(odd) td {
    background: #ffffff;
}
#table2-2 tr:nth-child(odd) td {
    background: #ffffff;
}
#section2 table:first-of-type td:nth-child(3) {
    text-align: left;
}

#table2-1 ol {
    margin: 0 auto;
    padding: 0 0 0 4rem;
    font-size: 0.875rem;
    text-align: justify;
}
#table2-2 ol {
    margin: 0 auto;
    padding: 0 0 0 1.25rem;
    font-size: 0.875rem;
    text-align: justify;
}

/*-------------------------*/
/* $Section3 */
/*-------------------------*/
/* section 3 */
#section3 table {
    width: 800px;
    text-align: center;
}
#section3 th {
    background: #f7f7f7;
}

#section3 tr:nth-child(odd) td {
    background: #f7f7f7;
}
#section3 table p {
    font-size: 0.875rem;
    margin: 0;
}

/*-------------------------*/
/* $Section4 */
/*-------------------------*/
#table4-1 {
    /* width: 1000px; */
    text-align: center;
}
#table4-1 tr:nth-child(even) td {
    background: #ffffff;
}
#table4-1 td {
    padding: 1.25rem;
}

@media (max-width:767px) {
    #section4 figure {
        margin: 0 auto 3.125rem;
    }    
    #section4 .row {
        padding: 2rem 0 2.5rem;
    }
    #section4 figure {
        width: 200px;
    }
}

/*-------------------------*/
/* $目錄 */
/*-------------------------*/

header{
  position: fixed;
  right: 10px;
  top: 155px;
  /* width: 224px; */
  background: #ffffff;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 100;
}
@media (max-width: 767px){
  header {
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: #ffffff;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 100;
  }
}
.breadcrumbs{
  margin-top: 5px
}

/*-------------------------*/
/* $Header */
/*-------------------------*/
.header {
    width: 100%;
    z-index: 100;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(53, 54, 48, 0.45)), color-stop(90%, transparent));
    background: linear-gradient(to bottom, rgba(53, 54, 48, 0.45), transparent 90%);
  }
  
  .header.header--fix {
    position: fixed;
    top: 28px;
    left: 0;
  }
  .headerPage.header.header--fix {
    position: fixed;
    top: 28px;
    left: 0;
  }
  .header .header_form_seach {
    display: none;
  }
  
  .header.header_form_seach form {
    display: block;
  }
  
  .header.js_header--seach {
    background: #f4f4f4;
  }
  
  @media (max-width: 960px) {
    .header.js_header--seach {
      background: #f4f4f4;
    }
    .header.js_header--seach .icon-btn .icon {
      color: #00356b;
    }
    .header.js_header--seach .icon-btn_Text {
      color: #00356b;
    }
  }
  
  .header.js_header--seach .navbar__logo h1.logo {
    color: #00356b;
  }
  
  .header.js_header--seach .navbar__logo h1.logo svg {
    padding-top: 10px;
    width: 178.23px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .header.js_header--seach .navbar__logo h1.logo svg .cls-1 {
    fill: #43484c;
  }
  
  .header.js_header--seach .navbar__logo h1.logo svg .cls-2 {
    fill: #a42025;
  }
  
  .header.js_header--seach .navbar__logo h1.logo svg .cls-3 {
    fill: #353630;
  }
  
  .header.js_header--seach .navbar__logo h1.logo_Mobile {
    color: #00356b;
  }
  
  .header.js_header--seach .navbar__logo h1.logo_Mobile svg {
    padding-top: 15px;
    width: 178.23px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  @media (max-width: 767px) {
    .header.js_header--seach .navbar__logo h1.logo_Mobile svg {
      padding-top: 8px;
      width: 140px;
    }
  }
  
  .header.js_header--seach .navbar__logo h1.logo_Mobile svg .cls-1 {
    fill: #a42025;
  }
  
  .header.js_header--seach .navbar__logo h1.logo_Mobile svg .cls-2 {
    fill: #353630;
  }
  
  .header.js_header--seach .navbar__logo h1.logo_Mobile svg .cls-3 {
    fill: #43484c;
  }
  
  @media (min-width: 961px) {
    .header.js_header--seach .nav .navbar__nav .nav__menu .menu__item {
      color: #00356b;
    }
  }
  
  @media (max-width: 960px) {
    .header.js_header--seach .nav .nav__icon-group .icon-search {
      border: 1px solid #00356b;
      background: rgba(209, 210, 211, 0);
    }
  }
  
  .header.js_header--seach .nav .nav__icon-group .icon-search .icon-btn .icon {
    color: #00356b;
  }
  
  @media (min-width: 961px) {
    .header.js_header--seach .nav .nav__icon-group .icon-search .icon-btn .icon {
      color: #00356b;
    }
  }
  
  .header.js_header--seach .nav .nav__icon-group .icon-search .icon-btn_Text {
    color: #00356b;
  }
  
  .header.header--scrolling {
    background: #f4f4f4;
    -webkit-box-shadow: 0 3px 5px rgba(53, 54, 48, 0.5);
            box-shadow: 0 3px 5px rgba(53, 54, 48, 0.5);
  }
  
  .header.header--scrolling .navbar__logo h1.logo {
    color: #00356b;
  }
  
  .header.header--scrolling .navbar__logo h1.logo svg {
    padding-top: 10px;
    width: 178.23px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .header.header--scrolling .navbar__logo h1.logo svg .cls-1 {
    fill: #43484c;
  }
  
  .header.header--scrolling .navbar__logo h1.logo svg .cls-2 {
    fill: #a42025;
  }
  
  .header.header--scrolling .navbar__logo h1.logo svg .cls-3 {
    fill: #353630;
  }
  
  .header.header--scrolling .navbar__logo h1.logo_Mobile {
    color: #00356b;
  }
  
  .header.header--scrolling .navbar__logo h1.logo_Mobile svg {
    padding-top: 15px;
    width: 178.23px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  @media (max-width: 767px) {
    .header.header--scrolling .navbar__logo h1.logo_Mobile svg {
      padding-top: 8px;
      width: 140px;
    }
  }
  
  .header.header--scrolling .navbar__logo h1.logo_Mobile svg .cls-1 {
    fill: #a42025;
  }
  
  .header.header--scrolling .navbar__logo h1.logo_Mobile svg .cls-2 {
    fill: #353630;
  }
  
  .header.header--scrolling .navbar__logo h1.logo_Mobile svg .cls-3 {
    fill: #43484c;
  }
  
  @media (min-width: 961px) {
    .header.header--scrolling .nav .navbar__nav .nav__menu .menu__item {
      color: #43484c;
    }
  }
  
  @media (max-width: 960px) {
    .header.header--scrolling .nav .nav__icon-group .icon-search {
      border: 1px solid #00356b;
      background: rgba(209, 210, 211, 0);
    }
  }
  
  .header.header--scrolling .nav .nav__icon-group .icon-search .icon-btn .icon {
    color: #00356b;
  }
  
  @media (min-width: 961px) {
    .header.header--scrolling .nav .nav__icon-group .icon-search .icon-btn .icon {
      color: #43484c;
    }
  }
  
  .header.header--scrolling .nav .nav__icon-group .icon-search .icon-btn_Text {
    color: #00356b;
  }
  
  .navbar__logo {
    width: 220px;
    display: block;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    padding-bottom: 0px;
    float: left
  }
  
  @media (max-width: 960px) {
    .navbar__logo {
      width: inherit;
      display: inline-block;
      float: left;
    }
  }
  
  .navbar__logo h1.logo {
    width: 178.23px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: -0.02em;
    display: block;
  }
  
  @media (max-width: 960px) {
    .navbar__logo h1.logo {
      display: none;
    }
  }
  
  .navbar__logo h1.logo_Mobile {
    width: 178.23px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: -0.02em;
    display: none;
  }
  
  @media (max-width: 960px) {
    .navbar__logo h1.logo_Mobile {
      display: block;
    }
  }
  
  @media (max-width: 767px) {
    .navbar__logo h1.logo_Mobile {
      width: 140px;
    }
  }
  
  .navbar__logo h1 svg {
    padding-top: 10px;
  }
  
  .navbar__logo h1 svg .cls-1 {
    fill: #fff;
  }
  
  .navbar__logo h1 svg .cls-2 {
    fill: #fff;
  }
  
  .navbar__logo h1 svg .cls-3 {
    fill: #fff;
  }
  
  @media (max-width: 767px) {
    .navbar__logo h1 svg {
      padding-top: 8px;
    }
  }
  
  .nav {
    position: relative;
    float: right
  }
  
  @media (max-width: 960px) {
    .nav {
      margin-top: 15px;
      margin-bottom: 15px;
      position: static;
      float: right;
    }
  }
  
  @media (max-width: 767px) {
    .nav {
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }
  
  .nav .navbar__nav {
    float: left;
  }
  
  .nav .nav__icon-group {
    float: right;
  }
  
  .nav .nav__menu {
    float: left;
    list-style: none;
    margin: 0px;
    padding: 0px;
  }
  
  .nav .nav__menu li {
    float: left;
  }
  
  .nav .nav__menu .menu__item {
    display: block;
    padding: 24px;
    color: #00356b;
    line-height: 32px;
    font-size: 18px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  @media (min-width: 961px) {
    .nav .nav__menu .menu__item {
      color: #fff;
    }
  }
  
  @media (max-width: 960px) {
    .nav .nav__menu .menu__item {
      font-size: 24px;
      color: #f4f4f4;
    }
  }
  
  .nav__icon-group {
    float: left;
  }
  
  .nav__icon-group .icon-search {
    cursor: pointer;
  }
  
  @media (max-width: 960px) {
    .nav__icon-group .icon-search {
      border: 1px solid #D1D2D3;
      background: rgba(209, 210, 211, 0.2);
    }
  }
  
  .nav__icon-group .icon-search .icon-btn {
    padding: 24px;
    line-height: 32px;
    display: inline-block;
  }
  
  @media (max-width: 960px) {
    .nav__icon-group .icon-search .icon-btn {
      padding: 8px 17px;
      float: left;
      margin-right: 0px;
    }
  }
  
  .nav__icon-group .icon-search .icon-btn .icon {
    color: #fff;
    font-size: 18px;
  }
  
  @media (min-width: 961px) {
    .nav__icon-group .icon-search .icon-btn .icon {
      color: #fff;
    }
  }
  
  @media (max-width: 960px) {
    .nav__icon-group .icon-search .icon-btn .icon {
      font-size: 15px;
    }
  }
  
  .nav__icon-group .icon-search .icon-btn_Text {
    display: none;
    float: right;
    color: #f4f4f4;
  }
  
  @media (min-width: 768px) and (max-width: 960px) {
    .nav__icon-group .icon-search .icon-btn_Text {
      display: block;
      text-transform: uppercase;
      line-height: 48px;
      float: right;
      color: #f4f4f4;
      padding-right: 16px;
    }
  }
  
  /* menu-toggle */
  .menu-toggle {
    float: right;
    margin-left: 10px;
    background: #00356b;
  }
  
  @media (max-width: 960px) {
    .menu-toggle {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
  
  @media (max-width: 767px) {
    .menu-toggle {
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }
  
  .menu-toggle .menu-toggle_Icon {
    width: 55px;
    height: 50px;
    display: inline-block;
    padding: 16px;
    padding-top: 18px;
    float: left;
  }
  
  .menu-toggle .menu-toggle_Icon span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
  }
  
  @media (max-width: 767px) {
    .menu-toggle .menu-toggle_Icon {
      width: 50px;
      height: 50px;
      padding: 15px;
      padding-top: 18px;
    }
  }
  
  .menu-toggle .menu-toggle_Text {
    text-transform: uppercase;
    line-height: 50px;
    float: right;
    color: #ffffff;
    padding-right: 16px;
  }
  
  @media (max-width: 767px) {
    .menu-toggle .menu-toggle_Text {
      display: none;
    }
  }
  
  @media (min-width: 961px) {
    .menu-toggle {
      display: none;
    }
  }
  
  /* popup-nav */
  @media (max-width: 960px) {
    .popup-nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      height: 100vh
    }
    #overlay:target {
      opacity: 1;
      visibility: visible;
    }
    .popup-nav .nav__menu {
      float: none;
      padding-top: 95px
    }
    .popup-nav .nav__menu li {
      float: none;
    }
    .popup-nav .menu__item {
      text-align: center;
      padding: 16px;
    }
    .popup-nav .nav__icon-group {
      float: none;
      text-align: center;
      padding: 16px;
    }
    /* popup-close */
    .popup-close {
      position: absolute;
      top: 35px;
      right: 0;
      width: 56px;
      height: 56px;
      display: inline-block;
      padding: 12px;
      padding-top: 16px;
    }
    .popup-close span {
      height: 3px;
      width: 32px;
      background-color: #f4f4f4;
      position: absolute;
      top: 50%;
    }
    .popup-close span:nth-child(1) {
      -webkit-transform: translateY(-50%) rotate(45deg);
              transform: translateY(-50%) rotate(45deg);
    }
    .popup-close span:nth-child(2) {
      -webkit-transform: translateY(-50%) rotate(-45deg);
              transform: translateY(-50%) rotate(-45deg);
    }
  }




  
  /* page Header 樣式調整 */
.headerPage.header.header--fix.header--scrolling{
  padding: 0px;
  border-radius: 0px;
  z-index: 101;
}
@media(max-width: 767px){
  .headerPage.header.header--fix.header--scrolling{
    transform: translateY(0%);
  }
}

.headerPage.header.header--fix.header--scrolling .navbar{
  padding: 0px;
  display: block;

}


.headerPage.header.header--fix.header--scrolling .container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
}
.headerPage.header.header--fix.header--scrolling .menu__item{
  font-family: "monospace" , "Noto Sans TC", "Helvetica", "Roboto", "Arial","微軟正黑體", sans-serif;
  font-weight: 600;
}










/*-------------------------*/
/* $Form */
/*-------------------------*/
  
form.header_form_seach .container {
  max-width: 1200px;
}

form.header_form_seach #js-search {
  display: none;
  background: none;
}

form.header_form_seach .site_search_row {
  padding-top: 8px;
  padding-bottom: 28px;
  background: #f4f4f4;
}

form.header_form_seach .site_search_row .site_search_cell {
  width: 97.91666667%;
  float: left;
  margin-left: 1.04166667%;
  margin-right: 1.04166667%;
}

form.header_form_seach .site_search_row .site_search_cell .site_search_fieldset {
  padding: 2px 16px;
  border: 1px solid;
  overflow: hidden;
}

form.header_form_seach .site_search_row .site_search_cell .site_search_fieldset .site_search_input[placeholder] {
  text-overflow: ellipsis;
}

form.header_form_seach .site_search_row .site_search_cell .site_search_fieldset ::-webkit-input-placeholder {
  color: #353630;
}

form.header_form_seach .site_search_row .site_search_cell .site_search_fieldset :-moz-placeholder {
  /* Firefox 18- */
  color: #353630;
}

form.header_form_seach .site_search_row .site_search_cell .site_search_fieldset ::-moz-placeholder {
  /* Firefox 19+ */
  color: #353630;
}

form.header_form_seach .site_search_row .site_search_cell .site_search_fieldset :-ms-input-placeholder {
  color: #353630;
}

form.header_form_seach .site_search_row .site_search_cell .site_search_fieldset .site_search_input {
  line-height: 1.20833333;
  font-family: "Raleway", "Helvetica", "roboto", arial, sans-serif;
  font-weight: 400;
  letter-spacing: .13px;
  font-size: 1.125rem;
  width: calc(80% - 46px);
  border: 1 solid green;
  display: block;
  float: left;
  margin: 12.5px;
  padding: 0px 10px;
  padding-top: 3px;
  background-color: #f4f4f4;
}

form.header_form_seach .site_search_row .site_search_cell .site_search_fieldset .site_search_button {
  background-color: #f4f4f4;
  color: #00356b;
  position: relative;
  float: right;
  border: none;
  cursor: pointer;
  padding: 15px 15px;
  margin-top: 1px;
}

form.header_form_seach .site_search_row .site_search_cell .site_search_fieldset .site_search_button .icon-btn .icon {
  font-size: 1.125rem;
}

#search_click_Mask {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.75);
  left: 0px;
  right: 0px;
  display: none;
  -webkit-transition: .3s;
  transition: .3s;
}

#search_click_Mask.click_Search_Mask.click_Search_MaskStyle {
  display: block;
}
  












