// base
@import ./helpers/_mixins
@import ./helpers/_variables
@import ./base/_reset
@import ./base/_color
@import ./base/_typography
@import ./base/_icon
@import ./base/_utility


// layout
@import ./layout/_grid


// components
@import ./components/_loading
@import ./components/_buttons
@import ./components/_navigation
@import ./components/jumbotron
@import ./components/form
@import ./components/_thumbnail
@import ./components/_footer


/*-------------------------*/
/* Globel
/*-------------------------*/
.wrapper
	overflow: hidden

.givePadding
  padding: 80px 0px 80px 0px

.article-pt_top
  padding: 0px 0px 80px 0px
  // @media (max-width: 740px)
  //   padding: 0px 0px 60px 0px



/*-------------------------*/
/* $top
/*-------------------------*/
#top_page
  position: fixed
  border-radius: 50px
  width: 50px
  height: 50px
  right: 20px
  bottom: 30px
  padding: 10px 16px
  font-size: 33px
  cursor: pointer
  background: rgba($color_primary,9 )
  color: $color_primary
  cursor: pointer
  z-index: 10
  box-shadow: 0 0px 2px rgba($color_black, 0.3)
  transition: all 0.3s
  display: block

  span
    font-size: 40px
    color: #5E9EC1
    +flex-center
    width: 100%
    height: 100%
    position: absolute
    top: calc(50% - 4px)
    left: 50%
    transform: translate(-50%, -50%)
.top_line
  color: #05C1F1
  content: ""
  position: fixed
  border-radius: 50%
  width: 55px
  height: 55px
  right: 18px
  bottom: 27px
  border: 1px outset #05C1F1
  z-index: 10
  animation: circle 3s infinite ease
  transform: rotate(360deg)

@media (max-width: 768px)
  #top_page
    font-size: 28px

@media (max-width: 480px)
  #top_page
    font-size: 24px

@keyframes circle
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)




/*-------------------------*/
/* article
/*-------------------------*/


.article
  .tag-Outer_layer
    margin-top: 40px
    padding: 40px 0px 30px 0px
    // background-color: none
    margin-bottom: 20px
  .header-tag-container
  .header-tag
    &.fixed-header 
      position: fixed
      top: 80px
      left: 0
      width: 100%
      z-index: 10
      transition: .5s
      padding: 0
      background-color: $color_secondary
      h3
        margin: 0
        color: rgba($color_white , 0.75) !important
        font-size: 16px
        transition: 0.3s
        &:hover
          color: rgba($color_white , 1) !important
      .header-tag_pc
        @media screen and ( max-width:  1020px)
          display: none
      .header-tag_Mobile
        display: none
        #select-all
          overflow: hidden
        @media screen and ( max-width:  1020px)
          display: block
      @media screen and ( max-width:  1020px)
        top: 80px
        padding-top: 8px
        padding-bottom: 8px
      @media screen and ( max-width:  767px)
        top: 58px
        padding-top: 8px
        padding-bottom: 8px
      .class-nav
        border-top: none
        margin-bottom: 10px
  
  .header-tag 
    box-sizing: border-box
    color: $color_light-grey
    overflow: hidden
    position: relative
    width: 100%
    transition: all .25s ease-in-out  
    .header-tag_pc
      display: block
    .header-tag_Mobile
      display: none
      margin-right: 15px
      margin-left: 15px
      select
        font-size: 20px
        text-align: center
        background: $color_secondary
        color: $color_white
        border: 1px solid $color_light-grey
        outline: 0
        border-radius: 0px
        width: 100%

        padding: 15px 15px
        moz-appearance:none
        -webkit-appearance: none
        appearance: none
        background: $color_secondary url("../../assets/arrow.png") no-repeat right 20px center
        background-size: 15px
    & h1 
      font-weight: 500
      font-size: 3em
      line-height: 1em
      margin: 0px 0px 40px 0px
      text-align: center
  .subtitle
    color: $color_secondary
    padding-bottom: 6px
    margin-bottom: 40px
    // &::before
    //   content: ""
    //   position: absolute
    //   bottom: 0
    //   left: 0
    //   width: 60px
    //   height: 3px
    //   background-color: $color_primary
  .class-nav 
    display: block
    border: 0
    border-top: 1px solid $color_grey
    padding: 0
    margin-bottom: 0px
    nav 
      margin-top: 10px
      font-size: 0px
      margin-left: -15px
      margin-right: -15px
      transition: 0.3s
      line-height: 0px
      @media screen and ( max-width:  940px)
        +flex 
        flex-wrap: wrap
     
      .category-title,.category-classify
        display: inline-block
        padding: 4px 15px
        position: relative
        @media screen and ( min-width:  941px)
          width: 100px
          height: 48px
          padding: 0px 0px
        @media screen and ( max-width:  940px)
          padding: 4px 0px
          display: block
          width: calc(100% / 9)
          text-align: center
        @media screen and ( max-width:  840px)
          width: calc(100% / 8)
        @media screen and ( max-width:  767px)
          width: calc(100% / 7)
        @media screen and ( max-width:  660px)
          width: calc(100% / 6)
        @media screen and ( max-width:  575px)
          width: calc(100% / 5)
        @media screen and ( max-width:  480px)
          width: calc(100% / 4)
        @media screen and ( max-width:  375px)
          width: calc(100% / 3)

        h3
          margin: 0
          color: rgba($color_secondary , 0.75)
          font-size: 16px
          transition: 0.3s
          &:hover
            color: rgba($color_secondary , 1)
        @media screen and ( min-width:  941px)
          h3
            line-height: 48px
            margin: 0
            color: rgba(black , 1)
            font-size: 16px
            transition: 0.3s
            +center
            white-space: nowrap
            &:hover
              font-size: 18px
              color: rgba($color_secondary , 1)
    .btn
      display: none
      span
        display: inline-block
      
        .icon
          color: $color_white
          margin-left: 8px
.select-container
  padding: 8px 0px
  .select-box
    background: #43484c
    border: 2px solid $color_light-grey  
    z-index: 1
    ul#select-all
      background: url(../../assets/arrow.png) no-repeat right 20px top 22px
      background-size: 15px
      margin: 0px
      padding: 0px
      list-style: none
      font-size: 20px
      color: $color_light-grey
      height: 52px
      // overflow-x: hidden
      // overflow-y: auto
      max-height: 50vh
      li
        border-bottom: 2px solid $color_light-grey
        .tag_option_a
          color: $color_light-grey
          padding: 16px
          display: block
          pointer-events: none
        &:last-child
          border-bottom: none
      &.select-all_tall
        height: inherit 
        background: none
        li
          a.tag_option_a
            pointer-events: auto
            &.tag_active
              background-color: $color_primary
  #select-close  
 
    background: rgba(0,0 ,0 ,0.2 )
    display: none
    height: 300vh
    width: 300vh
    position: fixed
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)


/*-------------------------*/
/* $footer
/*-------------------------*/


footer
  section#footer
    padding: 6.250rem 0


// 麵包
.breadcrumbs
  margin-top: 5px
  background-color: transparent
  ul.breadcrumb,ol.breadcrumb
    margin-top: 0px
    list-style: none
    padding: 12px 16px
    margin-bottom: 16px
    display: flex
    .breadcrumb-item
      font-size: 18.4px
      line-height: 1.5
      font-family: 'Noto Sans TC', "Microsoft JhengHei", sans-serif
      color: #6c757d
      font-weight: 300
      &.active
        color: #6c757d
        font-weight: 300
        font-family: 'Noto Sans TC', "Microsoft JhengHei", sans-serif
        line-height: 1.5
      a
        color: rgb(0, 190, 164)
        transition: all .3s
    
    .breadcrumb-item+.breadcrumb-item 
      padding-left: .5rem
    .breadcrumb-item+.breadcrumb-item::before 
      display: inline-block
      padding-right: .5rem
      color: #6c757d
      content: "/"




