// base
@import ./helpers/_mixins
@import ./helpers/_variables
@import ./base/_reset
@import ./base/_color
@import ./base/_typography
@import ./base/_icon
@import ./base/_utility


// layout
@import ./layout/_grid


// components
@import ./components/_buttons
@import ./components/_navigation
@import ./components/jumbotron
@import ./components/form
@import ./components/_thumbnail
@import ./components/_footer



/*-------------------------*/
/* Globel
/*-------------------------*/
.wrapper
	overflow: hidden

.givePadding
  padding: 60px 0px 60px 0px

.article-pt_top
  padding: 0px 0px 60px 0px
  @media (max-width: 740px)
    padding: 40px 0px 60px 0px


/*-------------------------*/
/* $Loading
/*-------------------------*/
.pageLoading
  position: fixed
  width: 100%
  height: 100%
  left: 0
  top: 0
  z-index: 10005
  display: flex
  justify-content: center
  align-items: center
  background-color: $color_secondary
  flex-direction: column
  transition: opacity 0.5s 0.5s
.pageLoading_logo
  transform: scale(0.6)
  margin-bottom: -50px
.pageLoading.loading_light
  transition: all 1.5s
  background-color: $color_white
  transition-delay: 0.2s
.pageLoading.complete 
  opacity: 0
  visibility: hidden
.loading
  width: 200px
  height: 8px
  margin-top: 40px
  border-radius: 5px
  background-color: #fff
  overflow: hidden
  transition: 0.5s
  .bar
    background-color: $color_primary
    width: 0%
    height: 100%
.logo_people
    position: absolute
    top: -15px
    z-index: 1
    left: calc(50% - 10px)
    transform: translateX(-50%)
    opacity: 0
    -webkit-animation: logo_people_animate 2.5s  forwards
    animation: logo_people_animate 2.5s  forwards
    animation-delay: 1.2s
    img
      width: 135px
@-webkit-keyframes logo_people_animate
  100%
   opacity: 1
@keyframes logo_people_animate
  100%
    opacity: 1
.loading-icon
  width: 230px
  font-size: 0px
  height: 230px
  overflow: hidden
  position: relative
  border-radius: 0%
  border: 10px solid rgba( #071f38 ,0 )
  -webkit-animation: logo_circle 2.5s  forwards
  animation: logo_circle 2.5s  forwards
  animation-delay: 1s
  >span
    max-height: 140px
    font-size: inherit 
    position: absolute
    display: inline-block
    text-align: center
    line-height: 0px
    bottom: -40px
    &:nth-child(1)
      left: 35px
      -webkit-animation: stair1 0.8s  both
      animation: stair1 0.8s  forwards
      animation-delay: 1.4s
    &:nth-child(2)
      left: 72px
      -webkit-animation: stair1 0.8s  both
      animation: stair2 0.8s  forwards
      animation-delay: 1.5s
    &:nth-child(3)
      left: 109px 
      -webkit-animation: stair1 0.8s  both
      animation: stair3 0.8s  forwards
      animation-delay: 1.6s
    &:nth-child(4)
      left: 146px 
      -webkit-animation: stair1 0.8s  forwards
      animation: stair4 0.8s  forwards
      animation-delay: 1.7s
    img
      width: 30px
@-webkit-keyframes logo_circle
  20%
    border-radius: 50%
  50%
    border: 10px solid rgba( #071f38 ,0.9 )
    border-radius: 50%
  100%
    border: 10px solid rgba( #071f38 ,1 )
    border-radius: 50%
@keyframes logo_circle
  20%
    border-radius: 50%
  50%
    border: 10px solid rgba( $color_primary ,0.9 )
    border-radius: 50%
  100%
    border: 10px solid rgba( $color_primary ,1 )
    border-radius: 50%
@-webkit-keyframes stair1
  0%
    bottom: -40px
  50%
    bottom: -110px
  100%
    bottom: -80px
@keyframes stair1
  0%
    bottom: -40px
  50%
    bottom: -110px
  100%
    bottom: -80px
@-webkit-keyframes stair2
  0%
    bottom: -40px
  50%
    bottom: -80px
  100%
    bottom: -50px
@keyframes stair2
  0%
    bottom: -40px
  50%
   bottom: -80px
  100%
    bottom: -50px
@-webkit-keyframes stair3
  0%
    bottom: -40px
  50%
    bottom: -50px
   
  100%
    bottom: -20px
@keyframes stair3
  0%
    bottom: -40px
  50%
    bottom: -50px

  100%
    bottom: -20px

@-webkit-keyframes stair4
  0%
    bottom: -40px
  50%
    bottom: -20px
   
  100%
    bottom: 10px
@keyframes stair4
  0%
    bottom: -40px
  50%
    bottom: -20px
  100%
    bottom: 10px


.pageLoading.complete 
  .loading-icon
    display: none


.LoadingImg
  width: 250px
  border-radius: 20px
  cursor: pointer
  margin: 10px
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  position: relative
  transition: 0.5s
  img
    width: 100%
.pageLoading.complete .LoadingImg
  transform: scale(0.01) rotate(360deg)

.pageLoading_text
  position: absolute
  bottom: 10px
  transform: rotate(-2deg)
  span
    font-weight: bold
    font-size: 14px
    &:nth-child(1)
      opacity: 0
      visibility: visible
      -webkit-animation: brilliant 0.8s  both
      animation: brilliant 0.8s  both
      animation-delay: 0.2s
    &:nth-child(2)
      opacity: 0
      visibility: visible
      -webkit-animation: brilliant 0.8s  both
      animation: brilliant 0.8s  both
      animation-delay: 0.4s
    &:nth-child(3)
      opacity: 0
      visibility: visible
      -webkit-animation: brilliant 0.8s  both
      animation: brilliant 0.8s  both
      animation-delay: 0.6s
    &:nth-child(4)
      opacity: 0
      visibility: visible
      -webkit-animation: brilliant 0.8s  both
      animation: brilliant 0.8s  both
      animation-delay: .8s
    &:nth-child(5)
      opacity: 0
      visibility: visible
      -webkit-animation: brilliant 0.8s  both
      animation: brilliant 0.8s  both
      animation-delay: 1.0s
    &:nth-child(6)
      opacity: 0
      visibility: visible
      -webkit-animation: brilliant 0.8s  both
      animation: brilliant 0.8s  both
      animation-delay: 1.2s
    &:nth-child(7)
      opacity: 0
      visibility: visible
      -webkit-animation: brilliant 0.8s  both
      animation: brilliant 0.8s  both
      animation-delay: 1.4s
    &:nth-child(8)
      opacity: 0
      visibility: visible
      -webkit-animation: brilliant 0.8s  both
      animation: brilliant 0.8s  both
      animation-delay: 1.6s
    &:nth-child(9)
      opacity: 0
      visibility: visible
      -webkit-animation: brilliant 0.8s  both
      animation: brilliant 0.8s  both
      animation-delay: 1.8s
@-webkit-keyframes brilliant
  50%
    opacity: 0
    visibility: hidden
  100%
    opacity: 1
    visibility: visible
@keyframes brilliant
  50%
    opacity: 0
    visibility: hidden
  100%
    opacity: 1
    visibility: visible
    

/*-------------------------*/
/* $top
/*-------------------------*/
#top_page
  position: fixed
  border-radius: 50px
  width: 50px
  height: 50px
  right: 20px
  bottom: 30px
  padding: 10px 16px
  font-size: 33px
  cursor: pointer
  background: rgba($color_primary,9 )
  color: $color_primary
  cursor: pointer
  z-index: 10
  box-shadow: 0 0px 2px rgba($color_black, 0.3)
  transition: all 0.3s
  display: block

  span
    font-size: 40px
    color: #5E9EC1
    +flex-center
    width: 100%
    height: 100%
    position: absolute
    top: calc(50% - 4px)
    left: 50%
    transform: translate(-50%, -50%)
.top_line
  color: #05C1F1
  content: ""
  position: fixed
  border-radius: 50%
  width: 55px
  height: 55px
  right: 18px
  bottom: 27px
  border: 1px outset #05C1F1
  z-index: 10
  animation: circle 3s infinite ease
  transform: rotate(360deg)

@media (max-width: 768px)
  #top_page
    font-size: 28px

@media (max-width: 480px)
  #top_page
    font-size: 24px

@keyframes circle
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)




/*-------------------------*/
/* article
/*-------------------------*/


.article
  .header-tag.fixed-header 
    position: fixed
    top: 80px
    left: 0
    width: 100%
    z-index: 10
    transition: .5s
    @media screen and ( max-width:  767px)
      top: 58px
  .header-tag 
    background-color: $color_secondary
    box-sizing: border-box
    color: $color_light-grey
    margin-bottom: 80px
    overflow: hidden
    padding: 3rem 0 2rem 0
    position: relative
    width: 100%
    transition: all .25s ease-in-out  
   
    & h1 
      font-weight: 500
      font-size: 3em
      line-height: 1em
      margin: 0px 0px 40px 0px
      text-align: center
  .subtitle
    color: $color_secondary
  .class-nav 
    display: block
    border: 0
    border-top: 1px solid #d1d2d3
    padding: 0
    margin-bottom: 0px
    nav 
      margin-top: 10px
      font-size: 0px
      margin-left: -15px
      margin-right: -15px
      transition: 0.3s
      @media screen and ( max-width:  940px)
        +flex 
        flex-wrap: wrap
      @media screen and ( max-width:  660px)
        height: 48px
        overflow: hidden
     
      .category-title,.category-classify
        display: inline-block
        padding: 4px 15px
        position: relative
        @media screen and ( min-width:  941px)
          width: 100px
          height: 48px
          padding: 0px 0px
        @media screen and ( max-width:  940px)
          padding: 4px 0px
          display: block
          width: calc(100% / 9)
          text-align: center
        @media screen and ( max-width:  840px)
          width: calc(100% / 8)
        @media screen and ( max-width:  767px)
          width: calc(100% / 7)
        @media screen and ( max-width:  660px)
          width: calc(100% / 6)
        @media screen and ( max-width:  575px)
          width: calc(100% / 5)
        @media screen and ( max-width:  480px)
          width: calc(100% / 4)
        @media screen and ( max-width:  375px)
          width: calc(100% / 3)

        h3
          margin: 0
          color: rgba($color_white , 0.75)
          font-size: 16px
          transition: 0.3s
          &:hover
            color: rgba($color_white , 1)
        @media screen and ( min-width:  941px)
          h3
            line-height: 48px
            margin: 0
            color: rgba($color_white , 0.75)
            font-size: 16px
            transition: 0.3s
            +center
            white-space: nowrap
            &:hover
              font-size: 20px
              color: rgba($color_white , 1)
    @media screen and ( max-width:  660px)
      .btn_category
        padding-top: 20px
    .btn
      display: none
      @media screen and ( max-width:  660px)
        display: block
      span
        display: inline-block
      
        .icon
          color: #fff
          margin-left: 8px


  
  



 